<div class="container mt-5">
  <h1>Gallery</h1>
  <br>
  <hr>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3 pr-2 mb-4 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 pr-2 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-3 mb-4">
      <img src="https://via.placeholder.com/250" alt="">
    </div>
  </div>
</div>