<div class="container mt-5">
  <h1>
    Services
  </h1>
  <br>
  <hr>
  <br>
  <br>

  <div class="row">
    <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 mt-2 mb-4">
        <h1>Direct to Garment Printing</h1>
        <p class="text-muted">What's direct to garment (DTG) printing? It's a speciality printing technology that allows us to print your design right onto the fabric. We're able to print at a much higher precision than screen printing while using as many colors as needed.  This perfect for photorealistic and vibrant prints.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 mt-2 mb-4">
        <h1>Screen Printing</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempora pariatur optio autem mollitia ipsa alias facilis nihil temporibus! Ullam fugit delectus consequatur praesentium ducimus laudantium nihil laborum accusantium molestiae.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 mt-2 mb-4">
        <h1>Heat Transfer Vinyl</h1>
        <p class="text-muted">Perfect for sports teams or shirts with a single color design. We use a vinyl cutter that cuts a silhouette on a roll of vinyl. Once that's completed, we heat press the design directly onto the shirt.</p>
        <p class="text-muted">Heat transfer vinyl is great for getting team numbers and logos printed on jerseys. Ask us about getting customized names as well!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
        <img src="https://via.placeholder.com/250" alt="">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 mt-2 mb-4">
        <h1>Creative Design</h1>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit tempora pariatur optio autem mollitia ipsa alias facilis nihil temporibus! Ullam fugit delectus consequatur praesentium ducimus laudantium nihil laborum accusantium molestiae.</p>
    </div>
  </div> 

</div>
