<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4"></h1>
      </div>
    </div>
  </div>
</header>
<br>

<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">Welcome to Raingrl-Print</h2>
      <br>
      <p>Whether you want to invoke team spirit, market your brand or simply create a fun product, Raingrl can help. We offer custom printing on anything from t-shirts to tote bags to stickers. A family-owned company, we provide personal, customized service to create products that you'll love.</p>

      <p>*All estimates are free and flexible according to materials and scheduling.</p>
      <br>
      <p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/schedule-appointment']">ASK FOR A QUOTE &raquo;</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <br>
      <address>
        <strong>Raingrl Print</strong>
        <!-- <br>1301 U Street NW
        <br>Washington, DC 20009 -->
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (703) 415-6952
        <br>
        <abbr title="Fax">F:</abbr>
        (202)-459-9097
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">raingrlco@gmail.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <!-- <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- /.row -->

</div>
<!-- /.container -->